.page-menu {
	@include desktop {
		display: flex;
	}
}
.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
	background-color: $bkg-clear-grey;
	&__title {
		border-bottom: 3px solid $color-ter;
		width: 50px;
		margin-left: 20px;
	}
	&__list {
	}
	&__list__item {
		background-color: white;
		/*width: 90%;*/
		padding: 0;
		margin: 20px 20px;
		border-radius: 15px;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		animation: appear 1800ms backwards;

		& .text {
			padding: 15px 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			& h2,
			& p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		& .moov {
			display: flex;

			transform: translateX(80px);
			transition: all 500ms ease;
			&__price {
				padding: 15px 15px;
				display: flex;
				align-items: flex-end;
				& p {
					white-space: nowrap;
				}
			}
			&__icon {
				background-color: $color-ter;
				opacity: 0;
			}
			& i {
				color: white;
				width: 80px;
				padding: 12px;

				text-align: center;
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;

				transform: rotate(-180deg);
				transition: all 500ms ease;
			}
		}
		&:hover {
			& .moov {
				transform: translateX(0);
				&__icon {
					opacity: 1;
				}
				& i {
					transform: rotate(0deg);
				}
			}
		}

		@for $n from 1 through 3 {
			&--#{$n} {
				animation-delay: 600ms * $n;
			}
		}
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
.btn {
	text-align: center;
}
