.page-menu {
	width: 100%;
	background-color: $bkg-clear-grey;
	padding-top: 100px;
	@include tablette {
		padding-top: 20px;
	}
	@include desktop {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 20px;
	}
}
.menu {
	flex: 1;
	justify-content: center;
	background-color: $bkg-clear-grey;
	@include desktop {
		width: 30%;
	}
	&__title {
		border-bottom: 3px solid $color-ter;
		width: 50px;
		margin-left: 30px;
	}

	&__list__item {
		cursor: pointer;
		background-color: white;
		padding: 0;
		margin: 25px 25px;
		border-radius: 15px;
		display: flex;
		overflow: hidden;
		animation: appear 1200ms backwards;
		box-shadow: 10px 10px 10px $bkg-dark-grey;

		& .text {
			padding: 15px 0;
			padding-left: 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			& h2,
			& p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		& .price {
			display: flex;
			font-weight: bold;
			padding: 15px 15px;
			align-items: flex-end;
			white-space: nowrap;
		}
		& .check {
			background-color: $color-ter;
			opacity: 0;
			width: 0px;
			transition: all 500ms ease;
			& i {
				color: white;
				padding: 12px;

				text-align: center;
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;

				transform: rotate(-180deg);
				transition: all 500ms ease;
			}
		}

		&:hover {
			& .check {
				opacity: 1;
				width: 80px;

				& i {
					transform: rotate(0deg);
				}
			}
		}

		@for $n from 1 through 4 {
			&--#{$n} {
				animation-delay: 300ms * $n;
			}
		}
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
.btn {
	text-align: center;
}
