.footer {
	background-color: $bkg-footer;
	color: white;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-top: 30px;
	& a {
		text-decoration: none;
		color: white;
	}
	&__text {
		font-size: $font-size-footer;
		font-family: "shrikhand";
	}
	&__list {
		list-style: none;
		padding-inline-start: 0;
	}
	& li {
		display: flex;
		line-height: 200%;
		align-items: center;
		& .items {
			display: flex;
			align-items: center;
		}

		& i {
			width: 22px;
		}

		& a:hover {
			color: $color-sec;
			& i {
				color: $color-sec;
			}
		}
	}
	@include desktop {
		/*align-items: center;*/
		& ul {
			display: flex;
			& li {
				padding: 40px;
				&:first-child {
					padding-left: 0px;
				}
			}
		}
	}
}
