.footer {
	background-color: $bkg-footer;
	color: white;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-top: 30px;
	&__text {
		font-size: $font-size-footer;
		font-family: "shrikhand";
	}
	&__list {
		list-style: none;
		padding-inline-start: 0;
	}
	& li {
		display: flex;
		line-height: 200%;
		align-items: center;
		& i {
			width: 22px;
		}
	}
}
