.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
	&__icon {
		margin-right: auto;
		&--none {
			display: none;
		}
	}
	&__logo {
		width: 200px;
		height: 40px;
		@include tablette {
			width: 300px;
			height: 55px;
		}
		@include desktop {
			width: 300px;
			height: 55px;
		}

		&--place {
			margin-right: auto;
			margin-left: -30px;
		}
		& img {
			height: 100%;
			width: 100%;
		}
	}
}
