.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px;
	&__icon {
		align-self: left;
	}
	&__logo {
		width: 300px;
		height: 60px;
		& img {
			height: 100%;
			width: 100%;
		}
	}
}
